<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
            <ion-button color="primary" (click)='navCtrl.home()'>
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'change-password.title' | translate}}</ion-title>
    </ion-toolbar>

</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <ion-list>
        <ion-item>
            <ion-label position='stacked'>{{'change-password.old-password' | translate}}</ion-label>
            <ion-input clearInput type="password" placeholder="{{'change-password.enter-old-password' | translate}}" [(ngModel)]='oldPassword'>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position='stacked'>{{'change-password.new-password' | translate}}</ion-label>
            <ion-input clearInput type="password" placeholder="{{'change-password.enter-new-password' | translate}}" [(ngModel)]='password'>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position='stacked'>{{'change-password.confirm-new-password' | translate}}</ion-label>
            <ion-input clearInput type="password" placeholder="{{'change-password.confirm-new-password' | translate}}" [(ngModel)]='confirm'>
            </ion-input>
        </ion-item>
    </ion-list>
    <div padding>
        <ion-button color="primary" expand='block' (click)='changePassword()'>{{'change-password.change-password' | translate}}</ion-button>
    </div>
</ion-content>