<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'online-order.detail-title' | translate}}</ion-title>
        <ion-buttons slot='end'>
            <ion-button color="primary" (click)='convert()' *ngIf="order && !order.convertedOrder">
                <ion-icon name="checkbox"></ion-icon>
                &nbsp;{{'online-order.convert' | translate}}
            </ion-button>
            <ion-button color="primary" (click)='presentActionSheet()'>
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <p style='padding-top: 0; padding-bottom: 0; margin-bottom: 0' class="ion-padding" >
        <ion-text color="danger" *ngIf="order && !order.convertedOrder">{{'online-order.convert-description' | translate}}</ion-text>
        <ion-text *ngIf="order && order.convertedOrder" style="font-size: 0.8em; font-weight: bold">{{'online-order.converted-order' | translate}}:</ion-text>
    </p>
    <order-list-item *ngIf="order && order.convertedOrder" [order]='order.convertedOrder' [currency]='currency' (onClick)='selectOrder(order.convertedOrder.id)' [showContact]='true' [color]="'success'">
    </order-list-item>
    <ion-list>
        <ion-grid>
            <ion-row>
                <ion-col size-xs='6' size-sm='6' size-md='3'>
                    <ion-text color='primary'>{{'order-add.order-code' | translate}}:</ion-text><br>
                    <ion-text style='margin-top: 5px;'>#{{order.orderCode}}</ion-text>
                </ion-col>
                <ion-col size-xs='6' size-sm='6' size-md='3'>
                    <ion-text color='primary'>{{'order-add.order-date' | translate}}:</ion-text><br>
                    <ion-text>{{dateFormat(order.createdAt)}}</ion-text>
                </ion-col>
                <ion-col *ngIf='order && order.staff' size-xs='6' size-sm='6' size-md='3'>
                    <ion-text color='primary'>{{'trade.staff' | translate}}</ion-text><br>
                    <ion-text>{{order.staff.name}}</ion-text>
                </ion-col>
                <ion-col size-xs='6' size-sm='6' size-md='3'>
                    <ion-label color='primary'>{{'order-detail.status' | translate}}</ion-label><br>
                    <ion-select [disabled]='isDisabled' [(ngModel)]="order.status" (ngModelChange)='changeStatus()'
                        style="--margin-top: 0; --padding-top:0; --padding-start: 0;">
                        <ion-select-option [value]="0">{{'order-detail.status-draft' | translate}}</ion-select-option>
                        <ion-select-option [value]="1">{{'order-detail.status-inprogress' | translate}}
                        </ion-select-option>
                        <ion-select-option [value]="2">{{'order-detail.status-shipping' | translate}}
                        </ion-select-option>
                        <ion-select-option [value]="3">{{'order-detail.status-done' | translate}}</ion-select-option>
                        <ion-select-option [value]="4">{{'order-detail.status-cancel' | translate}}</ion-select-option>
                        <ion-select-option [value]="5">{{'order-detail.status-has-debt' | translate}}
                        </ion-select-option>
                        <ion-select-option [value]="6">{{'order-detail.status-shipping-has-debt' | translate}}
                        </ion-select-option>
                        <ion-select-option [value]="7">{{'order-detail.status-deposit' | translate}}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item-divider color="light"
            *ngIf='tab == "info" && (order.contactId !== 0 || order.contactName || order.contactPhone || order.contactAddress)'>
            {{'order-add.contact-info' | translate}}
        </ion-item-divider>
        <ion-item lines='none'
            *ngIf='(order.contactName || order.contactPhone || order.contactAddress) && tab == "info" && order.contactId === 0'>
            <ion-label>
                <h2 *ngIf='order.contactName'><b>{{order.contactName}}</b></h2>
                <p *ngIf='order.contactPhone'><a href='tel:{{order.contactPhone}}'>{{order.contactPhone}}</a></p>
                <p *ngIf='order.contactAddress'>{{order.contactAddress}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-item-divider color="light" *ngIf='tab == "info"'>
        {{'order-add.product' | translate}}
    </ion-item-divider>
    <ion-list [hidden]='!order.items || order.items.length == 0 || tab !== "info"'>
        <ion-item *ngFor="let item of order.items; let i = index">
            <ion-text class='ion-text-wrap' style='padding-top: 8px; padding-bottom: 8px;'>
                {{i+1}}. {{item.productCode ? item.productCode.toUpperCase() + '-' : ''}}{{item.productName}} |
                {{item.count}}
                {{item.unit}} &#215; {{(item.price + getOptionPrices(item)) |
                currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                <p *ngIf='item.note' style='font-size: 0.8em;'>{{item.note}}</p>
                <ion-text *ngIf='hasOptionsOrAttributes(item)' style='font-size: 0.8em;' [style.fontWeight]='"normal"'
                    class="ion-text-wrap">
                    <p style='padding: 0; margin: 0' *ngIf='item.types && item.types.length'>
                        <ion-text [style.fontWeight]='"normal"'>
                            {{getTypeAttributesString(item)}}
                        </ion-text>
                    </p>
                    <ng-container *ngIf='item.attributes && item.attributes.length'>
                        <p style='padding: 0; margin: 0'>
                            <ion-text [style.fontWeight]='"normal"'>
                                {{getAttributesString(item)}}
                            </ion-text>
                        </p>
                    </ng-container>
                    <ng-container *ngFor='let op of item.typeOptions'>
                        <p style='padding: 0; margin: 0'>
                            <ion-text>
                                <strong>{{op.title}}</strong>
                            </ion-text>
                        </p>
                        <ng-container *ngFor='let val of op.values; let j = index'>
                            <p style='padding: 0; margin: 0'>
                                <ion-text [style.fontWeight]='"normal"'>
                                    {{val.title}}<span *ngIf='!val.selectOnly'> | {{val.count}} &#215; {{val.price |
                                        currency:currency:'symbol':'1.0-2':translateService.currentLang}}</span> | <span
                                        *ngIf='val.isAddedToPrice'>+</span>{{val.total |
                                    currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                                </ion-text>
                            </p>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf='item.options && item.options.length'>
                        <p style='padding: 0; margin: 0'>
                            <strong>{{'order-add.added-products' | translate}}</strong>
                        </p>
                        <p *ngFor='let option of item.options' style='padding: 0; margin: 0'>
                            {{productName(option.code, option.title)}}
                            |
                            {{option.count}}
                            {{option.unit}} &#215; {{option.price |
                            currency:currency:'symbol':'1.0-2':translateService.currentLang}} | +{{option.total |
                            currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                        </p>
                    </ng-container>
                </ion-text>
                <ng-container *ngIf='item.items && item.items.length'>
                    <p style='padding: 0; margin: 0; font-size: 0.68em;'>
                        <strong>{{'order-add.combo-products' | translate}}</strong>
                    </p>
                    <p *ngFor='let option of item.items' style='padding: 0; margin: 0; font-size: 0.68em;'>
                        {{productName(option.productCode, option.productName)}}
                        |
                        {{option.count}}
                        {{option.unit}} &#215; {{option.price |
                        currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                    </p>
                </ng-container>
            </ion-text>
            <ion-text slot='end' class='ion-text-wrap ion-text-right'>+{{item.total |
                currency:currency:"symbol":'1.0-2':translateService.currentLang}}<span style='font-size: 0.75em'
                    *ngIf='item.discount'><br>{{'order-add.product-discount-short' | translate}}: -{{item.discount |
                    currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span></ion-text>
        </ion-item>
        <ion-item>
            <ion-text class='ion-text-wrap' style='padding-top: 8px; padding-bottom: 8px;'>
                <strong>{{'order-detail.total-amount' | translate}}</strong>
            </ion-text>
            <ion-text slot='end' class='ion-text-wrap ion-text-right'>
                {{totalProductsAmount | currency:currency:"symbol":'1.0-2':translateService.currentLang}}
            </ion-text>
        </ion-item>
    </ion-list>
    <ion-list *ngIf='tab == "info"'>
        <ion-item-divider color="light" *ngIf='order.note'>
            {{'order-add.note' | translate}}
        </ion-item-divider>
        <ion-item *ngIf='order.note'>
            <ion-text>{{order.note}}</ion-text>
        </ion-item>
        <ion-item-divider color="light">
            {{'order-add.payment' | translate}}
        </ion-item-divider>
        <ion-item *ngIf='order.discountOnTotal'>
            <ion-text color='danger'>{{'order-add.discount' | translate}}:</ion-text>
            <span slot='end'>-{{order.discountOnTotal |
                currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item>
            <ion-text color='primary'>{{'order-add.net-value' | translate}}:</ion-text>
            <span slot='end'>{{order.netValue | currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item *ngIf='!hideTax'>
            <ion-text color='primary'>{{'order-add.tax' | translate}}:</ion-text>
            <span slot='end'>+{{order.tax | currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item *ngIf='order.shippingFee'>
            <ion-text color='primary'>{{'order-add.shipping-fee' | translate}}:</ion-text>
            <span slot='end'>+{{order.shippingFee |
                currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item>
            <ion-text color='primary'><b>{{'order-add.total' | translate}}:</b></ion-text>
            <span slot='end'><b>{{order.total |
                    currency:currency:"symbol":'1.0-2':translateService.currentLang}}</b></span>
        </ion-item>
        <ion-item *ngIf='order.paid !== null'>
            <ion-text color='primary'>{{'order-add.paid' | translate}}:</ion-text>
            <span slot='end'>{{order.paid | currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item *ngIf='order.paid !== null && order.change'>
            <ion-text color='primary'>{{'order-add.change' | translate}}:</ion-text>
            <span slot='end'>{{order.change | currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        </ion-item>
        <ion-item-divider color="light" *ngIf='order.hasShipInfo'>
            {{'order-add.shipping' | translate}}
        </ion-item-divider>
        <ion-item *ngIf='order.billOfLadingCode'>
            <ion-text color='primary'>{{'order-add.bill-of-lading-code' | translate}}:</ion-text>
            <span slot='end'>{{order.billOfLadingCode}}</span>
        </ion-item>
        <ion-item *ngIf='order.shippingPartner'>
            <ion-text color='primary'>{{'order-add.shipping-partner' | translate}}:</ion-text>
            <span slot='end'>{{order.shippingPartner}}</span>
        </ion-item>
        <ion-item *ngIf='order.shipperName'>
            <ion-text color='primary'>{{'order-add.shipper-name' | translate}}:</ion-text>
            <span slot='end'>{{order.shipperName}}</span>
        </ion-item>
        <ion-item *ngIf='order.shipperPhone'>
            <ion-text color='primary'>{{'order-add.shipper-phone' | translate}}:</ion-text>
            <span slot='end'>{{order.shipperPhone}}</span>
        </ion-item>
        <ion-item *ngIf='order.deliveryAddress'>
            <ion-text color='primary'>{{'order-add.delivery-address' | translate}}:</ion-text>
            <span slot='end'>{{order.deliveryAddress}}</span>
        </ion-item>
    </ion-list>
</ion-content>