<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-button ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
                &nbsp;{{'common.cancel' | translate}}
            </ion-button>
        </ion-buttons>
        <ion-title>{{'point-add.title-level' | translate}}</ion-title>
        <ion-buttons slot='end'>
            <ion-button color="primary" (click)='save()'>
                <ion-icon name="checkmark"></ion-icon>
                &nbsp;{{'action.save' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <ion-list>
        <ion-item>
            <ion-label position='stacked' color='primary'>
                {{'point-add.level-title' | translate}}
            </ion-label>
            <ion-input clearInput type="text" [(ngModel)]='config.title' placeholder="{{'point-add.enter-level-title' | translate}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position='stacked' color='primary'>{{'point-add.level-point' | translate}}</ion-label>
            <ion-input clearInput type="number" [(ngModel)]='config.point' placeholder="{{'point-add.enter-level-point' | translate}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position='stacked' color='primary'>{{'point-add.level-buy-count' | translate}}</ion-label>
            <ion-input clearInput type="number" [(ngModel)]='config.buyCount'></ion-input>
        </ion-item>
    </ion-list>
</ion-content>