<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
            <ion-button color="primary" (click)='navCtrl.home()'>
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'point.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='reload()' *ngIf="segment === 'histories'">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
            <ion-button (click)='addConfig()'
                *ngIf="segment === 'config' && (!selectedStaff || selectedStaff.hasFullAccess)">
                <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button (click)='addLevelConfig()'
                *ngIf="segment === 'level-config' && (!selectedStaff || selectedStaff.hasFullAccess)">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment [(ngModel)]="segment" color='primary' (ionChange)='changeSegment()'>
        <ion-segment-button value="histories">
            <ion-label class="ion-text-wrap">
                {{'point.histories' | translate}}
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="common-config" *ngIf="!selectedStaff || selectedStaff.hasFullAccess">
            <ion-label class="ion-text-wrap">
                {{'point.common-config' | translate}}
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="config" *ngIf="!selectedStaff || selectedStaff.hasFullAccess">
            <ion-label class="ion-text-wrap">
                {{'point.config' | translate}}
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="level-config" *ngIf="!selectedStaff || selectedStaff.hasFullAccess">
            <ion-label class="ion-text-wrap">
                {{'point.level-config' | translate}}
            </ion-label>
        </ion-segment-button>
    </ion-segment>
    <ng-container *ngIf="segment === 'histories'">
        <ion-searchbar debounce="700" (ionClear)='clearSearchHistories()' (ionChange)='searchHistories()'
            placeholder="{{'point.search-histories' | translate}}" [(ngModel)]='searchKeyHistories'></ion-searchbar>
        <div style='padding-left: 10px; padding-right: 10px;'>
            <period-range (onPeriodChanged)="onPeriodChanged($event)" page='point' [modeLink]='true'></period-range>
        </div>
    </ng-container>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <ng-container *ngIf="segment === 'level-config'">
        <p style='font-size: 0.8em' class="ion-padding" [innerHTML]="'point.level-explain' | translate"></p>
        <div list-only table="level_config"            
            [itemTemplate]="itemTemplateForLevelConfig" [searchFields]="searchFieldsForLevelConfig"
            [canEditItem]="true" 
            [canDeleteItem]="true" [noDetail]="true"></div>
    </ng-container>
    <ng-container *ngIf="segment === 'common-config'">
        <ion-list>
            <ion-item>
                <ion-label position='stacked' color='primary'>{{'point-add.allow-payment' | translate}}</ion-label>
                <ion-toggle color="primary" [(ngModel)]='config.allowPointPayment'>
                </ion-toggle>
            </ion-item>
            <ion-item *ngIf="config.allowPointPayment">
                <ion-label position='stacked' color='primary'>{{'point-add.payment-exchange' | translate}}</ion-label>
                <ion-input clearInput type="number" [(ngModel)]='config.pointPaymentExchange'
                    placeholder="{{'point-add.payment-exchange-description' | translate}}"></ion-input>
                <p *ngIf="config.pointPaymentExchange" style="font-size: 0.8em">
                    1 {{'point-add.point' | translate}} = {{config.pointPaymentExchange |
                    currency:currency:"symbol":'1.0-2':translateService.currentLang}}
                </p>
            </ion-item>
            <ion-item *ngIf="config.allowPointPayment">
                <ion-label position='stacked' color='primary'>{{'point-add.payment-after-buy-count' |
                    translate}}</ion-label>
                <ion-input clearInput type="number" [(ngModel)]='config.pointPaymentAfterBuyCount'></ion-input>
            </ion-item>
        </ion-list>
        <div class="ion-padding">
            <ion-button color="success" (click)='savePointPayment()' [disabled]='saveDisabled'>
                <ion-icon name="checkmark"></ion-icon>
                &nbsp;{{'action.save' | translate}}
            </ion-button>
        </div>
    </ng-container>
    <ng-container *ngIf="segment === 'config'">
        <div list-only table="point_config"            
            [itemTemplate]="itemTemplateForConfig" [searchFields]="searchFieldsForConfig"
            [canEditItem]="true" [noDetail]="true"></div>
    </ng-container>
    <ng-container *ngIf="segment === 'histories'">
        <ion-list>
            <ion-grid>
                <ion-row style='border-bottom: 1px solid #ccc'>
                    <ion-col [size]='pointHistories && pointHistories.length ? 8 : 12'>
                        <ion-item class='ion-text-wrap ion-no-padding' lines='none'>
                            <ion-label color="primary">
                                {{'common.total' | translate}}: {{total}} {{'point-add.point' | translate}}
                                <p>
                                    <ion-text color='dark'>
                                        {{pointHistories && pointHistories.length ? pointHistories.length : 0}}
                                        {{'point.history(s)' | translate}}
                                    </ion-text>
                                </p>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item *ngFor="let item of pointHistories; let i = index">
                <ion-label class='ion-text-wrap'>
                    <p *ngIf='item.contact'>{{'point-add.contact' | translate}}:
                        {{item.contact.fullName}}</p>
                    <p *ngIf='item.amount'>{{'point.history-amount' | translate}}: {{item.amount}} {{'point-add.point' |
                        translate}}</p>
                    <p *ngIf="item.createdAt">
                        {{'point.history-created-at' | translate}}: {{dateFormat(item.createdAt)}}
                    </p>
                    <p *ngIf="item.order">
                        <ion-text color="secondary" (click)="viewOrder(item.order.id)">{{'point.order' | translate}}:
                            #{{item.order.orderCode}}</ion-text>
                    </p>
                </ion-label>
                <ion-avatar slot='end' *ngIf='item.contact'>
                    <img [src]="contactImageOrPlaceholder(item.contact)" />
                </ion-avatar>
            </ion-item>
            <ion-item class='ion-text-wrap' *ngIf="!pointHistories || pointHistories.length===0">
                <div [innerHTML]="'point.no-histories' | translate">
                </div>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>