<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'product-selector.title' | translate}}
        </ion-title>
        <ion-buttons slot='end'>
            <ion-button (click)='add()'>
                <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button (click)='ok()'>
                <ion-icon name="checkmark"></ion-icon>&nbsp;{{'action.save' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment [(ngModel)]="tab" (ngModelChange)='tabChanged()' color='primary'>
        <ion-segment-button value="all">
            {{'product-selector.filter-all' | translate}}
        </ion-segment-button>
        <ion-segment-button value="selected">
            <ion-text [style.fontWeight]='selectedProducts && selectedProducts.length ? "bold": "normal"'>
                {{'product-selector.filter-selected' | translate}} <ion-text color='danger'>
                    ({{selectedProducts ? selectedProducts.length : 0}})</ion-text>
            </ion-text>
        </ion-segment-button>
    </ion-segment>
    <ion-searchbar autofocus='true' #barcodeInput *ngIf='tab == "all"' debounce="700" (ionClear)='clearSearch()'
        (ionChange)='search()' placeholder="{{'product-selector.filter-by-words' | translate}}" [(ngModel)]='searchKey'
        (ngModelChange)="barcodeChanged()">
    </ion-searchbar>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <p class="ion-padding"
        style='padding-top: 5px; padding-bottom: 0; margin-top: 0; margin-bottom: 0; font-size: 0.8em;'>
        <i>{{'product-selector.enter-note-description' | translate}}</i>
    </p>
    <ion-list [hidden]='tab == "all"'>
        <ng-container *ngFor="let product of selectedProducts">
            <ion-item text-wrap style='--min-height: 0;'>
                <ion-buttons>
                    <ion-button fill='clear' (click)='expand(product)' color='medium'>
                        <fa-icon icon="{{product.isExpand ? 'compress-arrows-alt' : 'expand-arrows-alt'}}"></fa-icon>
                    </ion-button>
                </ion-buttons>
                <ion-label class='ion-text-wrap'>
                    <ion-text [color]='product.actualExport > 0 ? "primary": "normal"' style='padding: 0;'
                        [style.fontWeight]='product.actualExport > 0 ? "bold" : "normal"' (click)='increase(product)'>
                        {{productName(product.code, product.title)}}<span *ngIf='product.unitsJson'> ({{product.unit}})</span>
                    </ion-text>
                    <br>
                    <span style='font-size: 0.8em'
                        *ngIf='!product.isService && !product.isCombo'>{{'product-selector.quantity-left' |
                        translate}}:
                        {{product.actualQuantity - product.actualExport > 0 ? toFixQuantity(product.actualQuantity - product.actualExport) : 0}}
                        {{product.unit}}
                    </span>
                </ion-label>
                <ion-avatar slot='end' *ngIf="product.avatarUrl">
                    <img [src]="product.avatarUrl">
                </ion-avatar>
                <ion-buttons slot='end'>
                    <ion-button fill='clear' size="large" (click)='decrease(product)'>
                        <ion-icon slot='icon-only' size="large" name='remove'></ion-icon>
                    </ion-button>
                    <ion-button fill='clear' size="large" (click)='increase(product)'>
                        <ion-icon slot='icon-only' size="large" name='add'></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <ion-grid *ngIf='product.actualExport' style='padding-left: 15px; padding-right: 15px; margin: 0;'
                color="light">
                <ion-row>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-unit-price' | translate}}
                        </ion-label>
                        <money-input [clear]='true' placeholder="{{'order-add.enter-product-price' | translate}}"
                            [(moneyValue)]='product.unitPrice' (moneyValueChange)='reCalc(product)'>
                        </money-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-export-count' | translate}}
                        </ion-label>
                        <ion-input clearInput type="number"
                            placeholder="{{'transfer-note-add.enter-product-count' | translate}}" [(ngModel)]='product.actualExport'
                            (ngModelChange)='reCalc(product)'>
                        </ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-import-count' | translate}}
                        </ion-label>
                        <ion-input clearInput type="number"
                            placeholder="{{'transfer-note-add.enter-product-count' | translate}}" [(ngModel)]='product.actualImport'
                            (ngModelChange)='reCalc(product)'>
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-total' | translate}}
                        </ion-label>
                        <money-input [clear]='true' placeholder="{{'transfer-note-add.enter-product-total' | translate}}"
                            [(moneyValue)]='product.amount'>
                        </money-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='
                        ' color='primary'>{{'transfer-note-add.product-note' | translate}}
                        </ion-label>
                        <ion-input clearInput type="text"
                            placeholder="{{'transfer-note-add.enter-product-note' | translate}}"
                            [(ngModel)]='product.note'></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-container>
    </ion-list>
    <ion-list [hidden]='tab == "selected"'>
        <ion-grid>
            <ion-row>
                <ion-col size='6' class="ion-no-padding">
                    <ion-item lines='none' class="ion-no-padding">
                        <ion-select placeholder="{{'product.select-option' |
                        translate}}" [(ngModel)]='listOption' style='max-width: 100% !important;'
                            (ngModelChange)='changeListOption()'>
                            <ion-select-option value="all">{{'product.list-option-all' |
                                translate}}</ion-select-option>
                            <ion-select-option value="expiry">{{'product.list-option-expiry' |
                                translate}}</ion-select-option>
                            <ion-select-option value="quantity">{{'product.list-option-quantiy' |
                                translate}}</ion-select-option>
                            <ion-select-option value="customer-price" *ngIf='contactId'>
                                {{'product.list-option-customer-price' |
                                translate}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size='6' class="ion-no-padding">
                    <ion-item *ngIf='isShowPaging && products && products.length' lines='none' class="ion-no-padding">
                        <ion-label class="ion-text-wrap ion-text-right">{{'common.page' | translate}} {{currentPage +
                            1}}
                        </ion-label>
                        <ion-buttons slot='end'>
                            <ion-button fill='solid' (click)='previousPage()'>
                                <ion-icon slot='icon-only' name='arrow-back-circle'></ion-icon>
                            </ion-button>
                            <ion-button fill='solid' (click)='nextPage()'>
                                <ion-icon slot='icon-only' name='arrow-forward-circle'></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ng-container *ngFor="let product of products | slice:start:(end+1)">
            <ion-item text-wrap style='--min-height: 0;' lines='none'>
                <ion-buttons>
                    <ion-button fill='clear' (click)='expand(product)' color='medium'>
                        <fa-icon icon="{{product.isExpand ? 'compress-arrows-alt' : 'expand-arrows-alt'}}"></fa-icon>
                    </ion-button>
                </ion-buttons>
                <ion-label class="ion-text-wrap">
                    <ion-text [color]='product.actualExport > 0 ? "primary": "normal"' style='padding: 0;'
                        [style.fontWeight]='product.actualExport > 0 ? "bold" : "normal"' (click)='increase(product)'>
                        {{productName(product.code, product.title)}}<span *ngIf='product.unitsJson'> ({{product.unit}})</span>
                    </ion-text>
                    <br>
                    <span style='font-size: 0.8em'
                        *ngIf='!product.isService && !product.isCombo'>{{'product-selector.quantity-left' |
                        translate}}:
                        {{product.actualQuantity - product.actualExport > 0 ? toFixQuantity(product.actualQuantity - product.actualExport) : 0}}
                        {{product.unit}}
                    </span>
                </ion-label>
                <ion-avatar slot='end' *ngIf="product.avatarUrl">
                    <img [src]="product.avatarUrl">
                </ion-avatar>
                <ion-buttons slot='end'>
                    <ion-button fill='clear' size="large" (click)='decrease(product)'>
                        <ion-icon slot='icon-only' size="large" name='remove'></ion-icon>
                    </ion-button>
                    <ion-button fill='clear' size="large" (click)='increase(product)'>
                        <ion-icon slot='icon-only' size="large" name='add'></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <ion-grid *ngIf='product.actualExport' style='padding-left: 15px; padding-right: 15px; margin: 0;' color="light"
                class="ion-no-padding">
                <ion-row>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-unit-price' | translate}}
                        </ion-label>
                        <money-input [clear]='true' placeholder="{{'order-add.enter-product-price' | translate}}"
                            [(moneyValue)]='product.unitPrice' (moneyValueChange)='reCalc(product)'>
                        </money-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-export-count' | translate}}
                        </ion-label>
                        <ion-input clearInput type="number"
                            placeholder="{{'transfer-note-add.enter-product-count' | translate}}" [(ngModel)]='product.actualExport'
                            (ngModelChange)='reCalc(product)'>
                        </ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-import-count' | translate}}
                        </ion-label>
                        <ion-input clearInput type="number"
                            placeholder="{{'transfer-note-add.enter-product-count' | translate}}" [(ngModel)]='product.actualImport'
                            (ngModelChange)='reCalc(product)'>
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label position='stacked' color='primary'>
                            {{'transfer-note-add.product-total' | translate}}
                        </ion-label>
                        <money-input [clear]='true' placeholder="{{'transfer-note-add.enter-product-total' | translate}}"
                            [(moneyValue)]='product.amount'>
                        </money-input>
                    </ion-col>
                    <ion-col>
                        <ion-label position='
                        ' color='primary'>{{'transfer-note-add.product-note' | translate}}
                        </ion-label>
                        <ion-input clearInput type="text"
                            placeholder="{{'transfer-note-add.enter-product-note' | translate}}"
                            [(ngModel)]='product.note'></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-container>
        <ion-item *ngIf='isShowPaging && products && products.length'>
            <ion-label class="ion-text-wrap ion-text-right">{{'common.page' | translate}} {{currentPage + 1}}
            </ion-label>
            <ion-buttons slot='end'>
                <ion-button fill='solid' (click)='previousPage()'>
                    <ion-icon slot='icon-only' name='arrow-back-circle'></ion-icon>
                </ion-button>
                <ion-button fill='solid' (click)='nextPage()'>
                    <ion-icon slot='icon-only' name='arrow-forward-circle'></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-item text-wrap *ngIf="!originalProducts || originalProducts.length===0">
            <div [innerHTML]="'product-selector.no-product' | translate">
            </div>
        </ion-item>
    </ion-list>
</ion-content>