<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'quote.title-select' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='openQuoteAdd()'>
                <ion-icon slot='icon-only' name="add-circle"></ion-icon>
            </ion-button>
            <ion-button (click)='ok()'>
                <ion-icon name="checkmark"></ion-icon>&nbsp;{{'action.save' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-item *ngIf='checkStore && (selectedStaff === null || (selectedStaff.hasFullAccess && !selectedStaff.storeId))'
        lines='none' color='success'>
        <ion-label class="ion-text-wrap">{{checkStore}}</ion-label>
        <ion-buttons>
            <ion-button (click)='exitStore()' size='small'>
                <ion-icon name='exit' slot='start' size='small'></ion-icon>
                {{'store.exit-store' | translate}}
            </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-segment [(ngModel)]="tab" color='primary'>
        <ion-segment-button value="all">
            {{'product-selector.filter-all' | translate}}
        </ion-segment-button>
        <ion-segment-button value="selected">
            <ion-text [style.fontWeight]='selectedProducts && selectedProducts.length ? "bold": "normal"'>
                {{'product-selector.filter-selected' | translate}} <ion-text color='danger'>
                    ({{selectedProducts ? selectedProducts.length : 0}})</ion-text>
            </ion-text>
        </ion-segment-button>
    </ion-segment>
    <ion-searchbar *ngIf="tab==='all'" debounce="700" (ionClear)='clearSearch()' (ionChange)='search()'
        placeholder="{{'quote.search' | translate}}" [(ngModel)]='searchKey'>
    </ion-searchbar>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <ion-list [hidden]='tab === "all"'>
        <ng-container *ngFor="let product of selectedProducts">
            <quote-selector-item [product]='product' [currency]='currency' (onReCalc)='reCalc($event)'
                (onIncrease)='increase($event)' (onDecrease)='decrease($event)' (onChangeCount)='changeCount($event)'
                (onShowOptions)='showOptions($event)' (onShowTypes)='showTypes($event)' (onExpand)='expand($event)' (onRemoveProduct)="removeProduct($event)" (onAdd)='add($event)' (onApplyItemTotal)='applyItemTotal()' [isShopAdmin]="(selectedStaff === null || (selectedStaff.hasFullAccess && !selectedStaff.storeId))">
            </quote-selector-item>
        </ng-container>
    </ion-list>
    <ion-list [hidden]='tab === "selected"'>
        <ion-grid>
            <ion-row style='border-bottom: 1px solid #ccc'>
                <ion-col [size]='isShowPaging && quotes && quotes.length ? 8 : 12'>
                    <ion-item class='ion-text-wrap ion-no-padding' lines='none'>
                        <ion-label color="primary">
                            {{quotes && quotes.length ? quotes.length : 0}} {{'quote.quote(s)' | translate}}
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size='4' class="ion-text-right" *ngIf='isShowPaging && quotes && quotes.length'>
                    <ion-label class="ion-text-wrap ion-text-right">{{'common.page' | translate}} {{currentPage +
                        1}}
                    </ion-label>
                    <br>
                    <ion-buttons class="ion-float-right">
                        <ion-button fill='solid' (click)='previousPage()' size='small'>
                            <ion-icon slot='icon-only' name='arrow-back-circle'></ion-icon>
                        </ion-button>
                        <ion-button fill='solid' (click)='nextPage()' size='small'>
                            <ion-icon slot='icon-only' name='arrow-forward-circle'></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ng-container *ngIf='isMobile'>
            <quote-list-item *ngFor="let quote of quotes | slice:start:(end+1)" [quote]='quote' [currency]='currency' (onClick)='selectQuote(quote)' [showContact]='true'
                [selectMode]="selectMode" [color]="quote.isSelected ? 'tertiary' : 'light'">
            </quote-list-item>
        </ng-container>
        <ion-grid *ngIf='!isMobile && quotes && quotes.length' class='ion-padding'>
            <ion-row style='border-bottom: 1px solid #ccc;'>
                <ion-col><strong>{{'quote-add.name' | translate}}</strong></ion-col>
                <ion-col><strong>{{'quote-add.total' | translate}}</strong></ion-col>
                <ion-col><strong>{{'quote-add.contact-info' | translate}}</strong></ion-col>
                <ion-col><strong>{{'quote-add.product' | translate}}</strong></ion-col>
                <ion-col><strong>{{'quote-add.note' | translate}}</strong></ion-col>
                <ion-col><strong>{{'trade.staff' | translate}}</strong></ion-col>
                <ion-col><strong>{{'quote.created-at' | translate}}</strong></ion-col>
            </ion-row>
            <ion-row *ngFor="let quote of quotes | slice:start:(end+1); let i = index"
                style='border-bottom: 1px solid #ccc;' [style.cursor]="'pointer'" (click)='selectQuote(quote)'>
                <ion-col>
                    {{quote.name}}
                </ion-col>
                <ion-col>
                    {{quote.total | currency:currency:"symbol":'1.0-2':translateService.currentLang}}
                    <p *ngIf='quote.amountFromPoint && quote.pointAmount'
                        style="padding: 0; margin: 0; font-size: 0.8em;">
                        <ion-text color="secondary">{{'quote-add.pay-by-point' | translate}}: {{quote.amountFromPoint |
                            currency:currency:"symbol":'1.0-2':translateService.currentLang}} / {{quote.pointAmount}}
                            {{'point-add.point' | translate}}
                        </ion-text>
                    </p>
                </ion-col>
                <ion-col>
                    <p *ngIf='quote.contactId && quote.contactId !== 0 && quote.contact'>
                        {{quote.contact.fullName}}</p>
                    <p *ngIf='!quote.contactId && quote.contactName'>{{quote.contactName}}</p>
                    <p *ngIf='!quote.contactId && quote.contactPhone'>{{quote.contactPhone}}</p>
                </ion-col>
                <ion-col>
                    <span *ngFor="let item of quote.items| slice:0:2; let i = index ">
                        <ion-text style='font-size: 0.8em'>
                            {{i+1}}.{{item.productCode ? item.productCode.toUpperCase() + '-' : ''}}{{item.productName}}
                            |
                            {{item.count}} {{item.unit}} | {{item.total |
                            currency:currency:"symbol":'1.0-2':translateService.currentLang}}
                            <p *ngIf='item.note' style="font-size: 0.8em; margin: 3px 0 0 0;">
                                {{limitText(item.note)}}
                            </p>
                            <ng-container *ngIf='item.items && item.items.length'>
                                <p style='padding: 0; margin: 0; font-size: 0.68em;'>
                                    <strong>{{'quote-add.combo-products' | translate}}</strong>
                                </p>
                                <p *ngFor='let option of item.items' style='padding: 0; margin: 0; font-size: 0.68em;'>
                                    {{productName(option.productCode, option.productName)}}
                                    |
                                    {{option.count}}
                                    {{option.unit}} &#215; {{option.price |
                                    currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                                </p>
                            </ng-container>
                            <ng-container *ngIf='item.typeOptions && item.typeOptions.length'>
                                <ng-container *ngFor='let op of item.typeOptions'>
                                    <ng-container *ngFor='let val of op.values'>
                                        <p style='padding: 0; margin: 0'>
                                            <ion-text [style.fontWeight]='"normal"' style='font-size: 0.8em;'>
                                                {{val.title}}<span *ngIf='!val.selectOnly'> | {{val.count}} &#215;
                                                    {{val.price |
                                                    currency:currency:'symbol':'1.0-2':translateService.currentLang}}</span>
                                                | <span *ngIf='val.isAddedToPrice'>+</span>{{val.total |
                                                currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                                            </ion-text>
                                        </p>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf='item.options && item.options.length'>
                                <ng-container *ngFor='let option of item.options| slice:0:2;'>
                                    <p style='padding: 0; margin: 0'>
                                        <ion-text [style.fontWeight]='"normal"' style='font-size: 0.8em;'>
                                            {{option.code ? option.code.toUpperCase() + '-' : ''}}{{option.title}}
                                            |
                                            {{option.count}}
                                            {{option.unit}} | {{option.total |
                                            currency:currency:'symbol':'1.0-2':translateService.currentLang}}
                                        </ion-text>
                                    </p>
                                </ng-container>
                                <ng-container *ngIf='item.options.length >= 3'>
                                    <p style='padding: 0; margin: 0'>
                                        <ion-text [style.fontWeight]='"normal"' style='font-size: 0.8em;'>
                                            ...
                                        </ion-text>
                                    </p>
                                </ng-container>
                            </ng-container>
                        </ion-text>
                        <br>
                    </span>
                    <span *ngIf='quote.items.length >= 3'>
                        <ion-text style="font-size: 0.8em;">...</ion-text>
                    </span>
                </ion-col>
                <ion-col class='ion-text-wrap'>
                    <span *ngIf='quote.note' style="font-size: 0.8em;">
                        {{limitText(quote.note)}}
                    </span>
                </ion-col>
                <ion-col class='ion-text-wrap'>
                    <p *ngIf='quote.staffId && quote.staffId !== 0 && quote.staff && !staffService.isStaff()'>
                        {{quote.staff.name}}<span *ngIf='quote.store'> - {{quote.store.name}}</span>
                    </p>
                    <p
                        *ngIf='!(quote.staffId && quote.staffId !== 0 && quote.staff && !staffService.isStaff()) && quote.store'>
                        <span *ngIf='quote.store'>{{quote.store.name}}</span>
                    </p>
                </ion-col>
                <ion-col class='ion-text-wrap'>
                    {{dateFormat(quote.createdAt)}}
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item text-wrap *ngIf="!originalQuotes || originalQuotes.length===0" lines='none'
            style="padding-top: 10px;">
            <div [innerHTML]="'quote.no-quote' | translate">
            </div>
        </ion-item>
        <ion-item *ngIf='isShowPaging && quotes && quotes.length' class="ion-no-padding" lines='none'>
            <ion-label slot='end' class="ion-text-right">{{'common.page' | translate}} {{currentPage +
                1}}
            </ion-label>
            <ion-buttons slot="end" class="ion-float-right">
                <ion-button fill='solid' (click)='previousPage()' size='small'>
                    <ion-icon slot='icon-only' name='arrow-back-circle'></ion-icon>
                </ion-button>
                <ion-button fill='solid' (click)='nextPage()' size='small'>
                    <ion-icon slot='icon-only' name='arrow-forward-circle'></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>