<div id='print-page'>
    <order-print [printOrderLikeInvoice]='printOrderLikeInvoice' [shop]='shop' [order]='order' [currency]='currency'
        [isMobile]='isMobile' [totalProductsAmount]='totalProductsAmount'
        [totalProductsQuantity]='totalProductsQuantity' [hideTax]='hideTax'
        [orderInvoiceMaxEmptyRows]='orderInvoiceMaxEmptyRows' [hideDiscountColumn]='hideDiscountColumn'
        [showStaffNameUnderSign]='showStaffNameUnderSign' [hideProductCodePrint]='hideProductCodePrint'
        [showStaffPhone]='showStaffPhone'
        [orderPrintNote]='orderPrintNote'>
    </order-print>
</div>