<ion-item (press)="press()" (click)='click()'>
    <ion-label class='ion-text-wrap'>
        <span>#{{note.id}}</span> - <span color="secondary">{{note.total | currency:currency:"symbol":'1.0-2':translateService.currentLang}}</span>
        <br>
        <p *ngIf='note.contactId && note.contactId != 0 && note.contact && showContact'>{{note.contact.fullName}}</p>
        <p *ngIf='note.contactId == 0 && showContact && note.contactName'>{{note.contactName}}</p>
        <p *ngIf='note.contactId == 0 && showContact && note.contactPhone'>{{note.contactPhone}}</p>
        <p>
            {{dateFormat(note.createdAt)}}
        </p>
        <p> 
            <span *ngFor="let item of note.items| slice:0:2; let i = index">
                <ion-text style="font-size: 12px;">
                    {{i+1}}.<span *ngIf='item.productCode'>{{item.productCode}}-</span>{{item.productName}} | {{item.quantity}} {{item.unit}} | {{item.amount | currency:currency:"symbol":'1.0-2':translateService.currentLang}}
                    <span *ngIf='item.amountForeign'>
                        | {{item.amountForeign}}&nbsp;<span *ngIf='note.foreignCurrency'>({{note.foreignCurrency}})</span>
                    </span>
                </ion-text>  
                <br>
            </span>
            <span  *ngIf='note.items.length >= 3'>
                <ion-text style="font-size: 12px;">...</ion-text>
            </span>
        </p>
        <p *ngIf='note.staffId && note.staffId != 0 && note.staff && !isStaff'>
            <i style="font-size: 11px;">{{'store.created-by' | translate}} {{note.staff.name}}<span *ngIf='note.store'> - {{note.store.name}}</span></i>
        </p>
        <p *ngIf='!(note.staffId && note.staffId != 0 && note.staff && !isStaff) && note.store'>
            <i style="font-size: 11px;">{{'store.created-by' | translate}} {{note.store.name}}</i>
        </p>
    </ion-label>
    <ion-avatar slot='end' *ngIf='note.contactId && note.contactId != 0 && note.contact && showContact'>
        <img [src]="contactImageOrPlaceholder(note.contact)" />
    </ion-avatar>
</ion-item>