<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'fb-page.title-auto-order' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='edit(0)'>
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar debounce="700" (ionClear)='clearSearch()' (ionChange)='search()'
        placeholder="{{'fb-page.search-auto-order-config' | translate}}" [(ngModel)]='searchKey'></ion-searchbar>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <p style="padding-left: 15px; padding-right: 15px; font-style: italic; font-size: 0.85em" [innerHTML]="'fb-page.auto-order-description' | translate"></p>
    <ion-list>
        <ion-item *ngFor="let config of configs">
            <ion-label class='ion-text-wrap' (click)="edit(config.id)">
                <span *ngIf="config.pageName"
                    style='white-space: pre-wrap; font-weight: bold; '>{{config.pageName}}<br></span>
                <span *ngIf="!config.pageName" style='white-space: pre-wrap; font-weight: bold; '>{{'fb-page.all-page' |
                    translate}}<br></span>
                <span *ngIf="config.postId" style='white-space: pre-wrap; font-weight: bold; '>{{'fb-page.post-id' |
                    translate}}: {{config.postId}}<br></span>
                <span style='white-space: pre-wrap; '>{{'fb-page.auto-order-template' | translate}}:
                    <i>{{config.comment}}</i><br></span>
                <p *ngIf="config.applyOnPostComment">
                    <ion-text color="secondary">{{'fb-page.apply-on-post-comment' | translate}}</ion-text>
                </p>
                <p *ngIf="config.applyOnMessage">
                    <ion-text color="secondary">{{'fb-page.apply-on-message' | translate}}</ion-text>
                </p>
                <p *ngIf="config.applyOnLiveStream">
                    <ion-text color="secondary">{{'fb-page.apply-on-livestream' | translate}}</ion-text>
                </p>
                <p *ngIf="config.replyTemplate">
                    <ion-text color="tertiary">{{'fb-page.reply-template-for-auto-order' | translate}}: <i>{{config.replyTemplate}}</i></ion-text>
                </p>
            </ion-label>
            <ion-toggle slot="end" [(ngModel)]="config.isActive" (ngModelChange)="updateActive(config)"></ion-toggle>
        </ion-item>
        <ion-item class='ion-text-wrap' *ngIf="!originals || originals.length===0">
            <div [innerHTML]="'fb-page.no-auto-order-config' | translate">
            </div>
        </ion-item>
    </ion-list>
</ion-content>