<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/fbpage"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'fb-page.title-message' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showHeaderMenu()">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-item *ngIf="flow && (flow.fromUserName || profile)" lines="none" style="padding-top: 10px;">
        <ion-avatar *ngIf="flow.fromUserAvatarUrl">
            <ion-img [src]="flow.fromUserAvatarUrl"></ion-img>
        </ion-avatar>
        <ion-label>
            &nbsp;
            <span *ngIf="flow.fromUserName"
                style='white-space: pre-wrap; font-weight: bold; '>{{flow.fromUserName}}<br></span>
            <span *ngIf="!flow.fromUserName && profile"
                style='white-space: pre-wrap; font-weight: bold; '>{{profile.name}}<br></span>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="openPage()">
                <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-segment [(ngModel)]="tab" (ngModelChange)="changeTab()">
        <ion-segment-button value="all">
            {{'fb-page.all-mess' | translate}}
        </ion-segment-button>
        <ion-segment-button value="phone" class="ion-text-wrap">
            {{'fb-page.show-phone' | translate}}
        </ion-segment-button>
        <ion-segment-button value="order" class="ion-text-wrap">
            {{'fb-page.show-order' | translate}}
        </ion-segment-button>
        <ion-segment-button value="order-phone" class="ion-text-wrap">
            {{'fb-page.show-order-phone' | translate}}
        </ion-segment-button>
    </ion-segment>
    <ion-searchbar debounce="700" (ionClear)='clearSearch()' (ionChange)='search()'
        placeholder="{{'fb-page.search-message' | translate}}" [(ngModel)]='searchKey' *ngIf="tab==='all'"></ion-searchbar>
    <ion-item lines="none" *ngIf="multiSelect && originals && originals.length" style="margin: 5px; ">
        <ion-checkbox [(ngModel)]="selectedAll" slot="start" (ngModelChange)="changeSelectedAll()">
        </ion-checkbox>
        <ion-label>{{'fb-page.select-all-noti' | translate}}</ion-label>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="deleteMulti()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="selectMulti()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-header>
<ion-content [style]="navCtrl.hasAds() ? '--padding-bottom: 60px' : ''">
    <ion-list>
        <ng-container *ngFor="let message of messages">
            <ion-item lines="none">
                <ion-checkbox [(ngModel)]="message.selected" slot="start" *ngIf="multiSelect">
                </ion-checkbox>
                <ion-icon name="person" slot="start"
                    *ngIf="message.fromUser && !(flow.fromUserAvatarUrl || profile && profile.profile_pic)"></ion-icon>
                <ion-avatar slot="start"
                    *ngIf="message.fromUser && (flow.fromUserAvatarUrl || profile && profile.profile_pic)">
                    <ion-img *ngIf="flow.fromUserAvatarUrl" [src]="flow.fromUserAvatarUrl"></ion-img>
                    <ion-img *ngIf="!flow.fromUserAvatarUrl && profile && profile.profile_pic"
                        [src]="profile.profile_pic"></ion-img>
                </ion-avatar>
                <ion-label [slot]="message.fromUser ? 'start' : 'end'" class='ion-text-wrap'
                    style="border-radius: 10px; border: 1px solid #ccc; padding: 5px; flex: unset; max-width: 65%;">
                    <span *ngIf="message.pageName && !message.fromUser"
                        style='white-space: pre-wrap; font-weight: bold; '>{{message.pageName}}<br></span>
                    <span style='white-space: pre-wrap; '>{{message.message}}</span>
                    <ion-img (ionImgDidLoad)="scroll()" *ngIf="message.photoUrl" [src]="message.photoUrl"
                        style="max-width: 288px"></ion-img>
                    <p style="font-size: 0.8em;">
                        {{dateFormat(message.timestamp)}}
                    </p>
                    <p *ngIf="message.phone" style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-top: 5px;">
                        <ion-text color="success">{{message.phone}}</ion-text>
                        &nbsp;
                        <ion-icon name="person-add" (click)="addToContact(message.phone)"></ion-icon>
                        &nbsp;
                        <ion-icon name="call" (click)="call(message.phone)"></ion-icon>
                    </p>
                    <p *ngIf="message.order" style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-top: 5px;">
                        <ion-text (click)="viewOrder(message.order)" color="tertiary" style="font-size: 0.8em;">{{'fb-page.order-added' |
                            translate}}: #{{message.order.orderCode}}</ion-text>
                        &nbsp;
                        <ion-icon name="eye" (click)="viewOrder(message.order)" style="margin-bottom: -3px;"></ion-icon>
                    </p>
                    <ion-label *ngIf="!message.order && message.products && message.products.length"
                        style="border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-top: 5px;">
                        <ion-label *ngFor="let product of message.products; let i = index">
                            <p>
                                <ion-text color="success"><span
                                        *ngIf="message.products.length > 1">{{i+1}}.&nbsp;</span>{{product.title}}</ion-text>
                                &nbsp;
                                <ion-icon name="arrow-undo" (click)="sendProduct(product)"></ion-icon>
                            </p>
                        </ion-label>
                        <ion-label (click)="addOrder(message)">
                            <p>
                                <ion-text style="font-size: 0.8em;" color="primary">{{'fb-page.add-order' |
                                translate}}</ion-text>
                                &nbsp;<ion-icon name="basket" style="margin-bottom: -3px;"></ion-icon>
                            </p>
                        </ion-label>
                    </ion-label>
                </ion-label>
                <ion-avatar slot="end" *ngIf="!message.fromUser">
                    <ion-img [src]="'https://graph.facebook.com/' + message.pageId + '/picture?type=square'"></ion-img>
                </ion-avatar>
            </ion-item>
        </ng-container>
        <ion-item class='ion-text-wrap' *ngIf="!originals || originals.length===0">
            <div [innerHTML]="'fb-page.no-message' | translate">
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-item lines="none" *ngIf="photo">
        <ion-label>
            <ion-thumbnail>
                <img [src]="photo" style="max-width: 150px;" />
            </ion-thumbnail>
        </ion-label>
        <ion-button (click)='removePhoto()' fill='clear' size='small'><ion-icon size='small' name='trash-outline'
                slot='icon-only'></ion-icon></ion-button>
    </ion-item>
    <ion-item style="margin-bottom: 10px;" lines="none">
        <ion-input #messageInput [(ngModel)]="message"
            style="border: 2px solid #bbb; border-radius: 10px; --padding-start: 5px;min-height: 50px"
            placeholder="{{'fb-page.enter-message' | translate}}" (keyup.enter)="enterMessage()"></ion-input>
        <label slot="end" color='primary' for="files" *ngIf='navCtrl.isNotCordova()'
            style="width: 28px; padding-top: 3px;">
            <ion-icon name="image" color="success" style="font-size: 28px;">
            </ion-icon>
        </label>
        <input *ngIf='navCtrl.isNotCordova()' #fileUploadInput type="file" accept="image/*" id="files"
            style="width: 0; height: 0; font-size: 0;" (change)="rememberFile($event)" />
        <ion-icon slot="end" name="image" color="success" (click)="upload()" *ngIf='!navCtrl.isNotCordova()'>
        </ion-icon>
        <ion-icon slot="end" name="send" color="success" (click)="enterMessage()">
        </ion-icon>
    </ion-item>
</ion-footer>